@import "../../variables.scss";

// Desktop

.main-page-container {
    margin: 40px $app-margin-x-desktop;
    .users-table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 14px 0px;
        h1 {
            font-size: 34px;
            color: $black;
        }
    }
    .delete-btn {
        width: 76px;
        height: 28px;
        padding: 7px 17px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $red;
        color: $red;
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &:disabled {
            border: 1px solid $inactive-gray;
            color: $inactive-gray;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

// Medium screen and mobile

@media (max-width: $lg) {
    .main-page-container {
        margin: 40px $app-margin-x-mobile;
        .users-table-header {
            h1 {
                font-size: 28px;;
            }
        }
    }
}