@import "../../../variables.scss";

// Desktop

.user-roles-radio-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 25px;
  label {
    font-size: 13px;
    font-weight: 500;
  }
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    input[type='radio'] {
      margin-right: 8px;
    }

    .user-role-option {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        font-size: 13px;
        font-weight: normal;
        color: $coal;
      }
    }
  }
}

// Mobile

@media (max-width: $md) {
  .user-roles-radio-group {
    padding-left: 0px;
  }
}