@import '../../variables.scss';

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0px;
  h1 {
    font-size: 34px;
    color: $black;
  }
}

@media (max-width: $lg) {
  .page-header {
    h1 {
      font-size: 28px;
    }
  }
}
