@import '../../../variables.scss';

// Desktop

.users-table-row {
  display: flex;
  width: 100%;
  border-top: 1px solid $border-gray;
  padding: 0px 0px;
  padding: 15px 0px;
  &:not(.users-table-labels) {
    .user-id-container {
      display: flex;
      flex-direction: column;
      .user-name-value-mobile {
        color: $users-table-header-gray;
        font-size: 9px;
        @media (min-width: $md) {
          display: none;
        }
      }
    }
    &:hover {
      background-color: $white;
      cursor: pointer;
      .user-email-value {
        color: $blue;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &:nth-last-child(1) {
    border-bottom: 1px solid $border-gray;
  }
  .user-table-row-value {
    flex: 1;
    color: $dark-gray;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.14px;
  }
  .user-role {
    flex: 0.5;
  }
  .user-table-row-checkbox {
    display: flex;
    justify-content: center;
    width: 5%;
    margin: 0px 5px;
    input {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.selected {
  .user-email-value {
    color: $blue;
  }
}

.users-table-labels {
  .user-id-container {
    .user-name-value-mobile {
      display: none;
    }
  }
}

// Mobile

@media (max-width: $md) {
  .user-table-row-value {
    font-size: 10px !important;
  }
  .user-name-value {
    display: none;
  }
}
