@import '../../variables.scss';

// Desktop

.details-page-header {
  padding-bottom: 15px;
  border-bottom: 1px solid $border-gray;
  margin-bottom: 0px;
}

.details-page-body {
  display: flex;
  margin-top: 24px;
  height: 30vh;
  .user-name-input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-gray;
    label {
      font-size: 13px;
      font-weight: 500;
      color: $dark-gray;
    }
    input {
      margin-top: 7px;
      width: 60%;
      padding: 4px;
      outline: none;
      border-radius: 3px;
      border: 1px solid $inactive-gray;
      transition: box-shadow 0.2s ease;
      &:focus {
        border: 1px solid $dark-blue;
        box-shadow: 0 0 0 3.5px $dark-blue;
      }
    }
  }
}

// Mobile

@media (max-width: $md) {
  .details-page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  } 
  .details-page-body {
    flex-direction: column;
    .user-name-input-container {
      border-right: none;
      input {
        width: 70%;
      }
    }
  }
}



