// Spacing

$app-margin-x-desktop: 85px;
$app-margin-x-mobile: 5%;

// Colors

$white: #fafafa;
$black: #000000;
$red: #ee0000;
$blue: #0070c9;
$gold: #FFD700;
$dark-blue: #3b99fc80;
$border-gray: #e5e5e5;
$inactive-gray: #b8b8b8;
$dark-gray: #333;
$users-table-header-gray: #777777;
$coal: #252525;

// Loader

$loader-color: $blue;

// Media Queries

$lg: 900px;
$md: 600px;
$sm: 400px;
