// Spacing

$app-margin-x-desktop: 85px;

// Colors

$black: #000000;
$red: #ee0000;
$border-gray: #e5e5e5;
$inactive-gray: #b8b8b8;
$dark-gray: #333;
$users-table-header-gray: #777777;
$users-table-row-hover: #fafafa;
$users-table-row-value-hover: #0070c9;